---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title='404'>
	<main data-pagefind-ignore="all">
		<h1>404</h1>
		<p>It looks like we lost your page. Sorry about that. Maybe it's in the back of Hovey's room somewhere. <a href="/">Go back to the home page</a>.</p>
	</main>
</Layout>