---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title='500'>
	<main data-pagefind-ignore="all">
		<h1>&#9888;&#65039; 500</h1>
		<p>It looks like our website is having some trouble. Please try again later. <a href="/">Go back to the home page</a>.</p>
	</main>
</Layout>

<style>
</style>