---
import Image from '../components/Image.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout page_title='About'>
	<main data-pagefind-body>
		<h1>&#8505; About Us</h1>
		<p>
			Welcome to the MHS Seals! We are a Roboboat team from James Martin High School in Arlington, Texas.
			We are currently the only high school team in the Roboboat competition, and we are proud to
			represent our school and our community. We are a team of students who are passionate about
			robotics, engineering, and computer science. We are excited to compete in the Roboboat competition
			and to learn from the experience. We are also excited to share our journey with you, and we hope
			that you will follow along with us as we prepare for the competition.
		</p>
		<Image image='/2025team.jpg' description='2025 Team' />
		<p>
			Our team is made up of primarily 4 departmens: Engineering, Computer Science, Electrical Engineering,
			and Marketing. Each department has its own unique role in the team, and each department is essential
			to the success of the team. The Engineering department is responsible for designing and building the
			boat. The Computer Science department is responsible for creating the vision and control systems for
			the boat. The Electrical Engineering department is responsible for the electrical systems of the boat.
			The Marketing department is responsible for promoting the team and the competition, as well as finding
			sponsors and partners for the team.
		</p>
		<Image image='/teams/computer-science.jpg' description='Computer Science Team' />
		<Image image='/teams/engineering.jpg' description='Engineering Team' />
		<!-- TODO: Need Electrical Engineering picture -->
		<Image image='/teams/electrical.jpg' description='Electrical Engineering Team' />
		<Image image='/teams/marketing.jpg' description='Marketing Team' />
	</main>
</Layout>

<style>
	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		margin-bottom: 1rem;
	}

	iframe {
		width: 100%;
		height: 405px;
		border-radius: 12px;
	}
</style>
