---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title='Team'>
	<main data-pagefind-body>
		<h1 class="page-title"><img src="/emojis/handshake.svg"></img>Captains</h1>
		<p>
			Meet the captains of the MHS Seals Roboboat team!
			Our captains are responsible for leading the team,
			organizing team meetings and events, and representing
			the team in the community. They are passionate about
			robotics, engineering, and computer science, and they
			are excited to compete in the Roboboat competition.
		</p>
		<div class="captains">
			<div class="captain-card">
					<h4>President</h4>
				<img src="/captains/tammy.png" alt="Tammy Lin" />
				<div class="content">
					<p>Tammy Lin</p>
				</div>
			</div>
			<div class="captain-card">
				<h4>Mechanical Engineering</h4>
				<img src="/captains/mitchell.png" alt="Mitchell Hulme" />
				<div class="content">
					<p>Mitchell Hulme</p>
				</div>
			</div>
			<div class="joint-card">
				<h4>Computer Science</h4>
				<div class="joint-card-content">
					<div class="captain-card">
						<img src="/captains/alec.png" alt="Alec Jensen" />
						<div class="content">
							<p>Alec Jensen</p>
						</div>
					</div>
					<div class="captain-card">
						<img src="/captains/bennett.png" alt="Bennett Rodriguez" />
						<div class="content">
							<p>Bennett Rodriguez</p>
						</div>
					</div>
				</div>
			</div>
			<div class="captain-card">
				<h4>Electrical Engineering</h4>
				<img src="/captains/ryan.png" alt="Ryan Farnell" />
				<div class="content">
					<p>Ryan Farnell</p>
				</div>
			</div>
			<div class="joint-card">
				<h4>Marketing</h4>
				<div class="joint-card-content">
					<div class="captain-card">
						<img src="/captains/kai.png" alt="Kai Jerkins" />
						<div class="content">
							<p>Kai Jerkins</p>
						</div>
					</div>
					<div class="captain-card">
						<img src="/captains/melanie.png" alt="Melanie Nguyen" />
						<div class="content">
							<p>Melanie Nguyen</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<script>
	document.addEventListener('astro:page-load', () => {
	  const cards = document.querySelectorAll('.captain-card img');
  
	  cards.forEach(card => {
		card.addEventListener('mousemove', (e) => {
		  const rect = card.getBoundingClientRect();
		  const x = e.clientX - rect.left;
		  const y = e.clientY - rect.top;
		  const centerX = rect.width / 2;
		  const centerY = rect.height / 2;
		  const rotateX = (centerY - y) / 5;
		  const rotateY = (x - centerX) / 5;
  
		  card.style.transform = `scale(1.05) rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
		});
  
		card.addEventListener('mouseleave', () => {
		  card.style.transform = 'scale(1)';
		});
	  });
	});
  </script>

<style>
  .center {
    text-align: center;
  }

  .captains {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .captain-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    width: 200px;
    margin: 1em;
    perspective: 1000px;
  }

  .captain-card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border-color: var(--accent);
    border-width: 5px;
    border-style: solid;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.1);
  }

  .captain-card img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2), 0 32px 64px rgba(0, 0, 0, 0.2);
  }

	.captain-card .content {
		width: 100%;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h4 {
		height: 2.5em;
		margin-top: 0.5em;
	}
	.captain-card p {
		margin: 0;
	}

	.captain-card a {
		display: block;
		color: white;
		background-color: var(--accent);
		text-decoration: none;
		padding: 0.5em 1em;
		border-radius: 12px;
		transition: all 0.2s ease;
	}

	.captain-card a:hover {
		background-color: var(--accent-dark);
	}

	.joint-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: 100%;
		margin-top: 1em;
		/* background-color: var(--accent); */
		/* color: white; */
		border-radius: 12px;
	}

	.joint-card h4 {
		/* color: white; */
		max-width: 90%;
	}

	.joint-card-content {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	.joint-card-content .captain-card {
		width: 100%;
		margin-top: 0;
	}

	.joint-card-content .captain-card img {
		/* border-color: white; */
	}

	.joint-card-content .captain-card a {
		background-color: white;
		color: var(--accent);
	}

	@media screen and (max-width: 600px) {
		h4 {
			height: unset;
		}
		.captain-card .content {
			height: unset;
		}

		.captain-card a {
			margin-top: 0.5em;
		}

		.joint-card-content {
			flex-direction: column;
		}
	}
</style>
