---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title='Team'>
	<main data-pagefind-body>
		<h1 class="page-title">&#129309; Captains</h1>
		<p>
			Meet the captains of the MHS Seals Roboboat team!
			Our captains are responsible for leading the team,
			organizing team meetings and events, and representing
			the team in the community. They are passionate about
			robotics, engineering, and computer science, and they
			are excited to compete in the Roboboat competition.
		</p>
		<div class="captains">
			<div class="captain-card">
					<h4>President</h4>
				<img src="/captains/lauren-janda.png" alt="Lauren Janda" />
				<div class="content">
					<p>Lauren Janda</p>
				</div>
			</div>
			<div class="joint-card">
				<h4>Executive Officers</h4>
				<div class="joint-card-content">
					<div class="captain-card">
						<img src="/captains/bennett-rodriguez.png" alt="Bennett Rodriguez" />
						<div class="content">
							<p>Bennett Rodriguez</p>
						</div>
					</div>
					<div class="captain-card">
						<img src="/captains/tammy-lin.png" alt="Tammy Lin" />
						<div class="content">
							<p>Tammy Lin</p>
						</div>
					</div>
				</div>
			</div>
			<div class="joint-card">
				<h4>Computer Science</h4>
				<div class="joint-card-content">
					<div class="captain-card">
						<img src="/captains/alec-jensen.png" alt="Alec Jensen" />
						<div class="content">
							<p>Alec Jensen</p>
						</div>
					</div>
					<div class="captain-card">
						<img src="/captains/bryan-chan.png" alt="Bryan Chan" />
						<div class="content">
							<p>Bryan Chan</p>
						</div>
					</div>
				</div>
			</div>
			<div class="captain-card">
				<h4>Mechanical Engineering</h4>
				<img src="/captains/caleb-lewis.png" alt="Caleb Lewis" />
				<div class="content">
					<p>Caleb Lewis</p>
				</div>
			</div>
			<div class="captain-card">
				<h4>Electrical Engineering</h4>
				<img src="/captains/ryan-farnell.png" alt="Ryan Farnell" />
				<div class="content">
					<p>Ryan Farnell</p>
				</div>
			</div>
			<div class="joint-card">
				<h4>Marketing</h4>
				<div class="joint-card-content">
					<div class="captain-card">
						<img src="/captains/alejandra-jimenez.png" alt="Alejandra Jimenez" />
						<div class="content">
							<p>Alejandra Jimenez</p>
						</div>
					</div>
					<div class="captain-card">
						<img src="/captains/christina-tran.png" alt="Christina Tran" />
						<div class="content">
							<p>Christina Tran</p>
						</div>
					</div>
				</div>
			</div>
			<div class="captain-card">
				<h4>Web Development</h4>
				<img src="/captains/alec-jensen.png" alt="Alec Jensen" />
				<div class="content">
					<p>Alec Jensen</p>
				</div>
		</div>
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
	  const cards = document.querySelectorAll('.captain-card img');
  
	  cards.forEach(card => {
		card.addEventListener('mousemove', (e) => {
		  const rect = card.getBoundingClientRect();
		  const x = e.clientX - rect.left;
		  const y = e.clientY - rect.top;
		  const centerX = rect.width / 2;
		  const centerY = rect.height / 2;
		  const rotateX = (centerY - y) / 10;
		  const rotateY = (x - centerX) / 10;
  
		  card.style.transform = `scale(1.05) rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
		});
  
		card.addEventListener('mouseleave', () => {
		  card.style.transform = 'scale(1)';
		});
	  });
	});
  </script>

<style>
  .center {
    text-align: center;
  }

  .captains {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .captain-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    width: 200px;
    margin: 1em;
    opacity: 0;
    animation: fadeIn 1s forwards;
    perspective: 1000px;
  }

  .captain-card img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border-color: var(--accent);
    border-width: 5px;
    border-style: solid;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
  }

  .captain-card img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
	.captain-card .content {
		width: 100%;
		height: 70px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h4 {
		height: 2.5em;
		margin-top: 0.5em;
	}
	.captain-card p {
		margin: 0;
	}

	.captain-card a {
		display: block;
		color: white;
		background-color: var(--accent);
		text-decoration: none;
		padding: 0.5em 1em;
		border-radius: 12px;
		transition: all 0.2s ease;
	}

	.captain-card a:hover {
		background-color: var(--accent-dark);
	}

	.joint-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		height: 100%;
		margin-top: 1em;
		/* background-color: var(--accent); */
		/* color: white; */
		border-radius: 12px;
	}

	.joint-card h4 {
		/* color: white; */
		max-width: 90%;
	}

	.joint-card-content {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	.joint-card-content .captain-card {
		width: 100%;
		margin-top: 0;
	}

	.joint-card-content .captain-card img {
		/* border-color: white; */
	}

	.joint-card-content .captain-card a {
		background-color: white;
		color: var(--accent);
	}

	@media screen and (max-width: 600px) {
		h4 {
			height: unset;
		}
		.captain-card .content {
			height: unset;
		}

		.captain-card a {
			margin-top: 0.5em;
		}

		.joint-card-content {
			flex-direction: column;
		}
	}
</style>
