---
import Layout from '../layouts/Layout.astro';
import UnderConstruction from '../components/UnderConstruction.astro';
---

<Layout page_title='Electrical'>
	<main data-pagefind-body>
		<h1>&#9889; Electrical Engineering</h1>
		<UnderConstruction />
	</main>
</Layout>