---
import Layout from '../layouts/Layout.astro';
import Image from '../components/Image.astro';
---

<Layout page_title='Electrical'>
	<main data-pagefind-body>
		<h1 class="page-title">&#9889; Electrical Engineering</h1>
		<p>
			The electrical team designs the electrical systems
			in the boat. We have to make sure all the components
			get the right amount of power and that our batteries
			can last long enough for the competition. We also
			have to make sure that all the sensors and instruments
			that are used by the CS team are wired correctly to
			the computers. Being on this team supposedly involves
			using math, being able to use electrical tools properly,
			and knowledge of electricity and electronic components.
		</p>

		<Image image="/electrical-1.jpg" description="Electrical systems on the boat" />
	</main>
</Layout>