---
import UnderConstruction from '../components/UnderConstruction.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout page_title='Engineering'>
	<main data-pagefind-body>
		<h1>&#128119; Engineering</h1>
		<UnderConstruction />
	</main>
</Layout>