---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main>
		<h1>&#129453; MHS Seals</h1>
		<p>
			Welcome to the MHS Seals! We are a Roboboat team from James Martin High School in Arlington, Texas.
			We are currently the only high school team in the Roboboat competition, and we are proud to
			represent our school and our community. We are a team of students who are passionate about
			robotics, engineering, and computer science. We are excited to compete in the Roboboat competition
			and to learn from the experience. We are also excited to share our journey with you, and we hope
			that you will follow along with us as we prepare for the competition.
		</p>
		<h3>Departments</h3>
		<div class="departments">
			<a href="/cs">Computer Science</a>
			<a href="/engineering">Engineering</a>
			<a href="/electrical">Electrical</a>
			<a href="/marketing">Marketing</a>
		</div>
		<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/S5ki5BaswGs?si=HMFzN0wlVGPxlbQQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</main>
</Layout>

<style>
	.departments {
		display: flex;
		justify-content: space-around;
		gap: 1rem;
		margin-top: 1rem;
		margin-bottom: 2rem;
	}

	.departments a {
		padding: 1rem;
		border: 1px solid transparent;
		border-radius: 12px;
		background-color: var(--accent);
		color: white;
		width: 100%;
		text-align: center;
		text-decoration: none;
		transition: background-color 0.2s;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.departments a:hover {
		background-color: var(--accent-dark);
	}

	iframe {
		width: 100%;
		height: 405px;
		border-radius: 12px;
	}
</style>
