---
import Layout from '../layouts/Layout.astro';
---

<Layout page_title='Marketing'>
	<main data-pagefind-body>
		<h1>&#129333; Marketing</h1>
		<p>
			The marketing team works to showcase our RoboBoat team,
			collect & create content, and reach out to sponsors to
			fund the future of the MHS Seals. We are responsible for
			advertising the MHS Seals to sponsors and furthering
			communication between committees by updating them with
			posts and meetings during workshops, as well as through
			the Technical Design Report (TDR). The marketing team also
			serves the MHS Seals by making promotional content, including
			the annual RoboBoat competition video, to document our progress throughout the year. 
		</p>
	</main>
</Layout>