---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
    title?: string;
	description?: string;
	image?: string;
}

const {
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    image = '/favicon.webp'
} = Astro.props;
---

<!-- TODO: some sort of view transition -->

<layout>
    <!doctype html>
    <html lang="en">
        <head>
            <BaseHead title={title} description={description} image={image} />
            <slot name="head" />
        </head>
        <body>
            <Header />
            <slot />
            <Footer />
        </body>
    </html>
</layout>